:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --third-text-color: #fff;
  --background-color-dark: #2f303a;
  --background-color-light: #fff;
  --background-color-secondary: #e5e5e5;
  --background-color-third-section: #f5f4fa;
}

body {
  font-family: var(--primary-font-family);
}

.title {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.section_title {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.description {
  font-family: var(--primary-font-family);
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  color: #000;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  position: absolute;
}

.logo_color {
  color: var(--accent-color);
}

.header {
  width: 1600px;
  height: 80px;
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color-light);
  border-bottom: 1px solid #ececec;
}

.navigation {
  padding-left: 93px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: 32px 331px 32px 454px;
}
.navigation-link {
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-link:active,
.navigation-link:hover {
  color: var(--accent-color);
}

.header-contacts {
  margin-right: 215px;
  display: inline;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-mail {
  font-family: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-phone {
  font-family: var(--font-family);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-phone:active,
.header-mail:active,
.header-phone:hover,
.header-mail:hover {
  color: var(--accent-color);
}

/* ----------STUDIO----------- */

.hero {
  background-color: var(--background-color-dark);
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}

.button-hero-item {
  /* font-family: var(--primary-font-family); */
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  cursor: pointer;
}

.hero-title {
  /* font-family: var(--primary-font-family); */
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.our-work-item {
  display: inline;
}

.features-list-title {
  /* font-family: var(--primary-text-color); */
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about {
  background-color: var(--background-color-secondary);
  width: 1600px;
  height: 769px;
  left: 0px;
  top: 80px;
}

.about_team {
  background-color: var(--background-color-third-section);
  /* position: absolute; */
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}

.team-item {
  display: inline-block;
}

/* --------PORTFOLIO------- */

.portfilio {
  margin-bottom: 96px;
  background-color: var(--background-color-light);
  display: inline-block;
}

.filters-buttons-list {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.button-item {
  background-color: var(--background-color-third-section);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  /* font-family: var(--primary-font-family); */
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  gap: 30px;
}

.button-item:hover,
.button-item:active {
  background: var(--accent-color);
  color: var(--third-text-color);
}

/* .projects {
  max-width: 1170px;
  max-height: 1356px;
} */

.projects-list {
  display: flexbox;
}

.projects-ltem {
  display: inline;
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 260px;
  background: var(--background-color-light);
  border: 1px solid #eee;
  box-sizing: border-box;
  gap: 30px;
}

.projects-item-title {
  color: var(--primary-text-color);
}

.projects-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-item-text,
.projects-item-description {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* --------FOOTER------- */

.footer {
  display: flex;
  background-color: var(--background-color-dark);
  position: relative;
}

.footer-logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  color: var(--third-text-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  position: absolute;
}

.footer-list-item {
  display: flexbox;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer-adress {
  color: var(--third-text-color);
  /* font-style: inherit; */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-phone,
.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
